%h1 Basic Information

.basics
  .row
    .columns.small-2.large-4
      %strong Parameter
    .columns.small-4.large-4
      %strong Value
    .columns.small-6.large-4
      %strong Additional
  .row
    .columns.small-2.large-4
      RubyNEAT Version
    .columns.small-4.large-4
      2.2.2bd
    .columns.small-6.large-4
      Date Maybe?
  .row
    .columns.small-2.large-4
      Neater
    .columns.small-4.large-4
      Some neater
    .columns.small-6.large-4
      Date Maybe?



