!!! 5
%html{"ng-app" => 'Dashboard'}
  %head
    %title RubyNEAT Dashboard
    != css :application, media: 'screen'
    != js  :app
  %body
    .header
      .image
        %img(src='images/logo.png')
      .title
        Dashboard
      .headlines
        Name of Neater Proj
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a(href='#') My Site
        %li.toggle-topbar.menu-icon
          %a(href='#')
            %span Menu
      %section.top-bar-section
        %ul.right
          %li.active
            %a(href='#') Right Button Active
          %li.has-dropdown
            %a(href='#') Right Button Dropdown
            %ul.dropdown
              %li
                %a(href='#') First link in dropdown
        %ul.left
          %li
            %a(href='#') Left Nav Button



