!!! 5
%html.no-js
  %head
    %title RubyNEAT Dashboard
    != css :application, media: 'screen'
    != js  :app
  %body(ng-app = 'Dashboard')
    %nav.top-bar(data-topbar)
      %ul.title-area
        %li.name
          %a(href='#')
            %img(src='images/logo.png')
        %li.toggle-topbar.menu-icon
          %a(href='#')
            %span Menu
      %section.top-bar-section
        %ul.right
          %li.has-dropdown
            %a(href='#/controller') Controller
            %ul.dropdown
              %li
                %a(href='#/controller/params')
                  %span Parameters
                %a(href='#/controller/hisograms')
                  %span Histograms
        %ul.left
          %li
            %a(href='#overview') Overview
          %li.has-dropdown
            %a(href='#population') Population
            %ul.dropdown
              %li
                %a(href='#population/general')
                  General
              %li
                %a(href='#population/speciation')
                  Speciation

          %li
            %a(href='#/critters') Critters
          %li.divider
    .content(ng-controller='DashboardController')
      %div(ng-view)
    .footer
      %h5 RubyNEAT Dashboard (c) 2014 LRCsoft. Released under the MIT License.

