!!! 5
%html
  %head
    %title RubyNEAT Dashboard
    != css :application, media: 'screen'
    != js  :app
  %body
    .header
      .image
        %img(src='images/logo.png')
      .title
        Dashboard
      .headlines
        Name of Neater Proj
    Hello Haml Layout

