!!! 5
%html.no-js(ng-app = 'Dashboard')
  %head
    %title RubyNEAT Dashboard
    != css :application, media: 'screen'
    != js  :app
  %body
    %nav.top-bar(data-topbar)
      %ul.title-area
        %li.name
          %a(href='#')
            %img(src='images/logo.png')
        %li.toggle-topbar.menu-icon
          %a(href='#')
            %span Menu
      %section.top-bar-section
        %ul.right
          %li.has-dropdown
            %a(href='#') Controller
            %ul.dropdown
              %li
                %a(href='#') First link in dropdown
        %ul.left
          %li
            %a(href='#') Overview
          %li.has-dropdown
            %a(href='#') Populations
            %ul.dropdown
              %li
                %a(href='#')
                  General
              %li
                %a(href='#')
                  Speciation

          %li
            %a(href='#') Critters
          %li.divider
    .content
      %div(ng-view)
    .footer
      %h5 RubyNEAT Dashboard (c) 2014 LRCsoft. Released under the MIT License.

