%h1 Pop General
%svg{height: "600"}
  %rect{height: "10", width: "300", x: "1", y: "50"}
  %circle{cx: "221", cy: "83", r: "54"}
  %circle{cx: "83", cy: "83", r: "40"}
  %circle{cx: "152", cy: "125", r: "20"}