%h3 Population Drilldown
.pop(ng-controller = 'PopulationController' ng-init = "init()")
  .pop-brigade
    %population-brigade(tick-source = "entry" number-of-pops = "15")
      Wheeeee!
  .pop-window
    %population-window()

  .pop-sandbox
    %critterSandbox()
