%h1 Population Home
.pop(ng-controller = 'PopulationController' ng-init = "init()")
  .charting
    %population-progress-chart(labels = "['best', 'worst', 'overall']"
      basis = "'generation'"
      width = "800"
      height = "400"
      x-axis-name = "Generations"
      y-axis-name = "Fitness"
      data = "entries"
      datum = "entry"
    )
  .current
    %h2 Realtime Status
    %table
      %tr
        %td generation
        %td {{ entry.generation }}
      %tr
        %td best
        %td {{ entry.best }}
      %tr
        %td worst
        %td {{ entry.worst }}
      %tr
        %td overall
        %td {{ entry.overall }}

